.Rproj.user*
*.Rproj
Read-and-delete-me
.Rbuildignore
.Rproj.user

# Data files
*.RData

# Compiled files
*.dll
*.o
*.so

# Cluster files
*.sh
*_output
*_errors

# Folders with files for running loop on server and results
*/ClusterRes/*
*/ClusterFiles/*
