useDynLib(CCRWvsLW)
exportPattern("^[[:alpha:]]+")
importFrom(circular, circular)
importFrom(circular, mle.vonmises)
importFrom(circular, mle.wrappedcauchy)
importFrom(circular, pvonmises)
importFrom(CircStats, dvm)
importFrom(CircStats, dwrpcauchy)
importFrom(CircStats, rvm)
importFrom(numDeriv, hessian)
importFrom(VGAM, ppareto)
importFrom(VGAM, rpareto)
importFrom(VGAM, rtruncpareto)
